.banner-area {
  background: url("/src/img/202304-landing-page-cupom-v1.jpg") no-repeat center
    center;
  padding: 1.25rem;
}

.banner-text {
  margin: 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.banner-title {
  font-size: 3.625rem;
  font-weight: 800;
}

.banner-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.banner-info {
  font-size: 0.8125rem;
}

@media (min-width: 375px) {
  .banner-title {
    font-size: 4.0625rem;
  }

  .banner-subtitle {
    font-size: 1.375rem;
  }
}

@media (min-width: 680px) {
  .banner-area {
    padding: 2.5rem;
  }

  .banner-title {
    font-size: 6.5625rem;
  }

  .banner-subtitle {
    font-size: 2.25rem;
  }

  .banner-info {
    font-size: 1.125rem;
  }
}
