.cupom-area-background {
  background-color: #ebebeb;
}

.cupom-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 1340px;
  margin: 0 auto;
  padding: 1.25rem 0.625rem;
}

#cupomCards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 800px) {
  #cupomCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .cupom-container {
    padding: 1.875rem;
  }
}
