.cupomExclusiveContainer {
  background-color: #275bd3;
  width: 100%;
  margin: 0 auto;
  border-radius: 0.3125rem;
  padding: 30px 10px;
}

.cupomExclusiveText {
  color: #ffffff;
  margin: 0;
  font-size: 1.625rem;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 600px) {
  .cupomExclusiveContainer {
    padding: 30px 70px;
  }

  .cupomExclusiveText {
    font-size: 2.1875rem;
  }
}

@media (min-width: 800px) {
  .appContainer {
    width: 50%;
  }
}
