.header {
  background-color: #222222;
  padding: 30px 0;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogoImg {
  width: 120px;
}

.headerBuyButton {
  background-color: #d22630;
  color: #ffffff;
  font-size: 10px;
  font-weight: 800;
  padding: 8px 18px;
  letter-spacing: 2px;
  text-decoration: none;
  border-radius: 4px;
  transition: 1s;
}

.headerBuyButton:hover {
  background-color: #bc0710;
}
