.headerContainer {
  background-color: #222222;
  padding: 1.875rem 0;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogoImg {
  width: 7.5rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.headerBuyButton {
  background-color: #d22630;
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: 700;
  padding: 0.5rem 0.5rem;
  letter-spacing: 0.125rem;
  text-decoration: none;
  border-radius: 0.25rem;
}

.headerBuyButton:hover {
  background-color: #bc0710;
}

@media (min-width: 375px) {
  .headerBuyButton {
    font-size: 0.625rem;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 80rem;
  }
}
