.card-app {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-app-top {
  width: 100%;
}

.card-app-top img {
  width: 100%;
}

.card-app-bot {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px 20px;
}

.card-app-title {
  font-size: 16px;
  text-transform: uppercase;
}

.card-app-description {
  font-size: 12px;
  color: #222222;
}

.card-app-cupom {
  color: #275bd3;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #275bd3;
  border-radius: 5px;
  padding: 8px;
}

.card-app-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card-app-buttons img {
  width: 20px;
}

.card-app-buttons a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  max-width: 90px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: end;
}

.app-info {
  width: 100%;
  overflow: hidden;
}

.app-info img {
  width: 100%;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
}

@media (min-width: 680px) {
  .card-app-title {
    font-size: 18px;
  }

  .card-app-description {
    font-size: 15px;
  }
}

@media (min-width: 780px) {
  .card-app,
  .app-info {
    max-width: 35%;
  }

  .card-app,
  .app-info {
    justify-content: space-between;
    gap: 8px;
  }

  .card-app-title {
    font-size: 14px;
  }

  .card-app-bot {
    gap: 8px;
  }

  .card-app-buttons {
    margin: 0;
  }
}
