.cardDefault {
  background-color: #ffffff;
  width: 100%;
  border: 0.0625rem solid #b0b0b0;
  border-radius: 0.3125rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardTop {
  width: 100%;
}

.cardTop img {
  width: 100%;
}

.cardBot {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.25rem 1.25rem;
}

.cardTitle {
  font-size: 1rem;
  text-transform: uppercase;
}

.cardDescription {
  font-size: 0.75rem;
  color: #222222;
}

.cardCupom {
  display: flex;
}

.cupomValue {
  width: 100%;
  display: block;
  padding: 14px;
  border: 2px solid #d22630;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.cupomBtnCopy {
  background-color: #d22630;
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.cardAppCupom {
  color: #275bd3;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: 0.125rem solid #275bd3;
  border-radius: 0.3125rem;
  padding: 8px;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cardButtons img {
  width: 20px;
}

.cardButtons a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.625rem;
  max-width: 90px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: end;
}

@media (min-width: 680px) {
  .cardTitle {
    font-size: 1.125rem;
  }

  .cardDescription {
    font-size: 0.9375rem;
  }
}

@media (min-width: 800px) {
  .cardDefault {
    max-width: 49%;
  }

  .cardTitle {
    font-size: 0.875rem;
  }

  .cardDescription {
    font-size: 0.8125rem;
  }
}

@media (min-width: 1040px) {
  .cardDefault:first-child {
    max-width: 100%;
    flex-direction: row;
    gap: 0;
  }

  .cardDefault:first-child .cardTop {
    width: 70%;
  }

  .cardDefault:first-child .cardTop img {
    content: url("/src/img/202306-cupom-adega_topo.jpg");
    height: 100%;
    object-fit: cover;
  }

  .cardDefault:first-child .cardBot {
    width: 30%;
    height: 100%;
    padding: 1.25rem;
    gap: 0.375rem;
  }

  .cardDefault:last-child {
    max-width: 100%;
    flex-direction: row;
    gap: 0;
  }

  .cardDefault:last-child .cardTop {
    width: 70%;
  }

  .cardDefault:last-child .cardTop img {
    content: url("/src/img/202306-cupom-destilado_topo.jpg");
    height: 100%;
    object-fit: cover;
  }

  .cardDefault:last-child .cardBot {
    width: 30%;
    height: 100%;
    padding: 1.25rem;
    gap: 0.375rem;
  }
}

@media (min-width: 1300px) {
  .cardDefault {
    max-width: 32%;
  }

  .cardTitle {
    font-size: 0.875rem;
  }

  .cardDescription {
    font-size: 0.8125rem;
  }
}
