.card-default {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card-top {
  width: 100%;
}

.card-top img {
  width: 100%;
}

.card-bot {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px 20px;
}

.card-title {
  font-size: 16px;
  text-transform: uppercase;
}

.card-description {
  font-size: 12px;
  color: #222222;
}

.card-cupom {
  display: flex;
}

.cupom-value {
  width: 100%;
  display: block;
  padding: 14px;
  border: 2px solid #d22630;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.cupom-btn-copy {
  background-color: #d22630;
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.card-app-cupom {
  color: #275bd3;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #275bd3;
  border-radius: 5px;
  padding: 8px;
}

.card-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card-btns img {
  width: 20px;
}

.card-btns a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  max-width: 90px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: end;
}

@media (min-width: 680px) {
  .card-title {
    font-size: 18px;
  }

  .card-description {
    font-size: 15px;
  }
}

@media (min-width: 800px) {
  .card-default {
    max-width: 48.5%;
  }

  .card-title {
    font-size: 14px;
  }

  .card-description {
    font-size: 13px;
  }
}

@media (min-width: 1040px) {
  .card-default:first-child {
    max-width: 100%;
    flex-direction: row;
    gap: 0;
  }

  .card-default:first-child .card-top {
    width: 70%;
  }

  .card-default:first-child .card-top img {
    content: url("/src/img/202306-cupom-adega_topo.jpg");
    height: 100%;
    object-fit: cover;
  }

  .card-default:first-child .card-bot {
    width: 30%;
    height: 100%;
    padding: 20px;
    gap: 6px;
  }

  .card-default:last-child {
    max-width: 100%;
    flex-direction: row;
    gap: 0;
  }

  .card-default:last-child .card-top {
    width: 70%;
  }

  .card-default:last-child .card-top img {
    content: url("/src/img/202306-cupom-destilado_topo.jpg");
    height: 100%;
    object-fit: cover;
  }

  .card-default:last-child .card-bot {
    width: 30%;
    height: 100%;
    padding: 20px;
    gap: 6px;
  }
}

@media (min-width: 1300px) {
  .card-default {
    max-width: 32%;
  }

  .card-title {
    font-size: 14px;
  }

  .card-description {
    font-size: 13px;
  }
}
